{% extends 'partials/base.html.twig' %}

{% block content %}

    <h1>{{ OFFLINE_H1|t }}</h1>
    <h2>{{ OFFLINE_H2|t }}</h2>

    {% if maintenance.allow_login and not grav.user.authenticated %}
        <div id="maintenance-login" style="text-align: center;">
            {% include 'partials/login-form.html.twig' with {content: 'PLUGIN_MAINTENANCE.AUTHORIZED_ACCESS'|t, show_login_form: true }%}
        </div>
    {% endif %}
{% endblock %}
