{% extends 'partials/base.html.twig' %}

{% block content %}

    {{ page.content|default('PLUGIN_MAINTENANCE.OFFLINE_MARKDOWN'|t|markdown)|raw }}

    {% if maintenance.allow_login and not grav.user.authenticated %}
        <div id="maintenance-login" style="text-align: center;">
            {% include 'partials/login-form.html.twig' with {content: 'PLUGIN_MAINTENANCE.AUTHORIZED_ACCESS'|t|markdown, show_login_form: true }%}
        </div>
    {% endif %}
{% endblock %}
